<div id='main-header'>
</div>
<div class='modal-screen-backdrop'></div>
<div class="backdrop">
  <div id="main"></div>
</div>

<script>
  Celadon.checkmarkLogo = "<%= asset_path('checkmark.png') %>";
  Celadon.magnifyingGlass = "<%= asset_path('magnifying_glass.png') %>";
  Celadon.logo = "<%= asset_path('celadonlogo3.png') %>"
  Celadon.pokeball = "<%= asset_path('Pokeball.png') %>"
</script>
