<h3>Edit your account</h3>
<form>
  First Name:
  <input
    id="user-fname"
    type="text"
    name="user[fname]"
    value="<%= user.escape('fname') %>"><br>
  Last Name:
  <input
    id="user-lname"
    type="text"
    name="user[lname]"
    value="<%= user.escape('lname') %>"><br>
  Image
  <input
    type="file"
    name="user[image]"
    id="input-post-image"><br>
  <img src="" id="preview-post-image" width="100"><br>
  <button>Submit</button>
</form>
