<h3>Create Account</h3>
<form>
  Your first name<br>
  <input type="text" name="user[fname]"><br>
  Your last name<br>
  <input type="text" name="user[lname]"><br>
  Email<br>
  <input name="user[email]" type="text"><br>
  Password<br>
  <input
    name="user[password]"
    type="password"
    placeholder="at least 6 characters"><br>

  <button>Create your Celadon account</button><br>
  <span>Already have an account? <a href="#/session/new">Sign in</a></span>
</form>
