<h2>Create Account</h2>

<form>
  <label><p>Your first name</p>
    <input type="text" name="user[fname]">
  </label><br>

  <label><p>Your last name</p>
    <input type="text" name="user[lname]">
  </label><br>

  <label><p>Email</p>
    <input name="user[email]" type="text"><br>
  </label><br>

  <label><p>Password</p>
    <input
      name="user[password]"
      type="password"
      placeholder="at least 6 characters">
    </label><br>

  <button class="sign-in-btn">Create your Celadon account</button>
</form>

<span class="link-to-sign">Already have an account? <a href="#/session/new">Sign in</a></span>
