<div class="modal-screen"></div>
</div>
<form class="modal-review-form">
  <h3>Write your review</h3>
  Star Rating:
  <div class="star-rate-input" id="star-rate"></div>
  <p>Title:</p>
  <input
    type="text"
    name="review[title]"><br>
  <p>Body:</p>
  <textarea name="review[body]"></textarea>
  <button id="submit-btn">Submit</button>
  <div>
    <p class="cancel" id="cancel-btn">Cancel</p>
  </div>
</form>
