<div class="homepage-all-products group">
  <div class="recommended-for-you group">
    <h4>Recommended for you</h4>
    <div class="recommended-products group"></div>
  </div>
  <div class="most-viewed group">
    <h4>Most Viewed Products</h4>
    <div class="most-viewed-products group"></div>
  </div>
  <div class="all-view group">
    <h4><a href="#/products">All Available Products</a></h4>
    <div class="all-product-views group"></div>
  </div>
</div>
