<div class="homepage-all-products group">
  <div class="recommended-for-you group">
    <h4></h4>
    <div class="recommended-products group"></div>
  </div>
  <div class="most-viewed group">
    <h4>Most Viewed Products</h4>
    <div class="most-viewed-products group"></div>
  </div>
  <div class="all-view group">
    <h4>
      <a href="#/products">
        All Available Products
        <a class="see-more-tab" href="#/products">
          See more...
        </a>
      </a>
    </h4>
    <div class="all-product-views group"></div>
  </div>
</div>

<!-- <div class="advertisement7">
  <a href="http://www.domio.xyz">
    <img src="<%= Celadon.domiologo %>">
  </a>
  <a href="http://www.mumblrr.com">
    <img src="<%= Celadon.mumblrlogo %>">
  </a>
  <a href="http://help-whats-for-lunch.herokuapp.com">
    <img src="<%= Celadon.helplogo %>">
  </a>
</div> -->
