<div class="advertisement5">
  <h4>Narrow your choices</h4>
  <form class="filter-list">
    <span class="form-header">Categories</span>
    <% Celadon.types.each(function(type){ %>
      <input type="checkbox" name="category" value="<%= type.escape('name') %>"> <%= type.escape('name') %><br>
    <% }) %>
    <button>Submit</button>
  </form>
</div>
<div class="results-page">
  <section class="results">
    <ul class="search-results-full all-poke-list"></ul>
    <span>
      <nav class="group">
				<% if (pageNum > 1) { %>
					<a class="prev-page" href="javascript:void(0)">
						<span class="prev-arrow"></span>
						Previous Page
					</a>
				<% } %>
				<% if (pageNum < (results.length)) { %>
					<a class="next-page" href="javascript:void(0)">
						<span class="next-arrow"></span>
						Next Page
					</a>
				<% } %>
			</nav>
    </span>
  </section>
</div>
