<div class='checkout-bar'>
  <span class='quick-details'>
    Subtotal( item(s)): $
  </span>
  <span class='add-cart-message-btn'>
    <button>Place your Order</button>
  </span>
</div>

<h3>Shopping Cart</h3>
<ul class="cart-items"></ul>
