<div class='checkout-bar'>
  <span class='quick-details'>
    Subtotal( item(s)): $
  </span>
  <span class='add-cart-message-btn'>
    <button>Place your Order</button>
  </span>
  <span class='order-details'>
    <h4>Order Summary</h4>
    <p class='checkout-left detail'>Items:</p>
    <p class='checkout-right detail'>$$$$</p>
    <p class='checkout-left detail'>Shipping & handling:</p>
    <p class='checkout-right detail'>$0.00</p>
    <p class='checkout-left detail'>Shipping & handling:</p>
    <p class='checkout-right detail'>$0.00</p>
    <p class='checkout-left detail'>Taxes:</p>
    <p class='checkout-right detail'>Never</p>
    <p class='checkout-left bold'>Order total:</p>
    <p class='checkout-right bold'>$$$$</p>
  </span>
</div>

<h3>Shopping Cart</h3>
<ul class="cart-items"></ul>
