/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, ul, li, input, a, button, h1, h2, h3, h4, h5, label, div,
 span, p {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 p {
   display: inline;
 }

 ul {
   list-style: none;
 }

 li {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 h2 {
   font-size: 28px;
 }

 h3 {
   font-size: 20px;
 }

 body {
   font-family: arial,sans-serif;
 }

 .hidden {
   display: none;
 }

 .darken {
   background: rgba(0, 0, 0, 0.6);
   transition: 0.2s;
   position: fixed;
   z-index: 4;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   cursor: default;
 }

 .arrow > .hidden {
   display: none;
 }

 .type-indicator {
   margin: 3px 0px;
   border-radius: 3px;
   color: white;
   font-size: 10px;
   width: 70px;
   height: 16px;
 }

 .type-indicator > a {
   display: block;
   line-height: normal;
   margin: 3px 0;
   text-align: center;
 }

 .type-indicator:hover {
   background: rgba(0, 0, 0, 0.6);
 }

 .sign-in-btn {
   display: inline-block;
   color: black;
   text-align: center;
   padding: 5px 10px;
   /*width: 84%;*/
   margin: 0 auto;
   border: 1px solid #846A29;
   border-radius: 5px;
   background: #FEBD69;
 }

 .sign-in-btn:hover {
   background: #e4aa5e;
   text-decoration: none;
   color: black;
 }

 .Poison {
   background: #B97FC9;
 }

 .Grass {
   background: #96C64D;
 }

 .Fire {
   background: #F07722;
 }

 .Ice {
   background: #51C4E7;
 }

 .Psychic {
   background: #EA62B2;
 }

 .Flying {
   background: #BDB9B8;
 }

 .Water {
   background: #4592C4;
 }

 .Bug {
   background: #729F3F;
 }

 .Normal {
   background: #A4ACAF;
 }

 .Electric {
   background: #EED535;
 }

 .Ground {
   background: #AB9842;
 }

 .Fighting {
   background: #D56723;
 }

 .Rock {
   background: #A38C21;
 }

 .Steel {
   background: #9EB7B8;
 }

 .Ghost {
   background: #7B62A3;
 }

 .Fairy {
   background: #FDB9E9;
 }

 .Dragon {
   background: #5818F2;
 }

 .Dark {
   background: gray;
 }

 .money {
   font-size: 16px;
   font-weight: bold;
   color: #B12704;
 }
