.confirmation-page {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  height: 300px;
  padding: 20px;
  background: #fff;
  z-index: 6;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: default;
  background: #eee;
}

.confirmation-page > button {

}

.confirmation-page .cancel {
  margin: 10px;
  float: left;
  box-shadow: none;
  color: #838B8B;
  background: transparent;
  cursor: pointer;
}
