.navbar {
  display: block;
  background: #232F3E;
  color: white;
  border-bottom: 1px solid gray;
  height: 95px;
}

.navbar-logo {
  float: left;
}

.navbar-logo > .navbar-logo-img {
  color: white;
  display: block;
  font-weight: bold;
  font-size: 27px;
  margin-left: 35px;
  margin-top: 8px;
  margin-right: 48px;
}

.search-bar {
  position: relative;
  float: left;
  width: 700px;
  height: 36px;
  margin-top: 10px;
}

.search-bar-input {
  background: white;
  height: 100%;
  width: 640px;
  border: 1px solid white;
  border-radius: 5px 0 0 5px;
  height: inherit;
  color: black;
  padding: 0 6px;
}

.search-bar > input:focus {
  border: 1px solid #FEBD69;
}

.search-bar > .search-bar-button {
  display: block;
  height: 24px;
  float: right;
  background: #FEBD69;
  padding: 7px 13px 7px 13px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar-btn {
  position: absolute;
  float: right;
  right: 10px;
  top: 20px;
}

.navbar-btn > li:hover {
  border: 1px solid #ccc;
}

.navbar-btn > li {
  float: left;
  height: 28px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.navbar-btn > li > p {
  float: left;
  clear: both;
}

.navbar-btn > li > .line1 {
  font-size: 12px;
  color: #ccc;
}

.navbar-btn > li > .line2 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}

.hidden {
  display: none;
}

.search-bar-img {
  width: 20px
}
