.navbar-ad {
  background: white;
}

.navbar {
  background: #232F3E;
  color: white;
  height: 99px;
}

.container {
  margin: 0 auto;
}

.navbar-logo {
  float: left;
  padding: 13px 19px 0 27px;
  width: 146px;
  height: 26px;
}

.navbar-logo > .navbar-logo-img {
  color: white;
  font-weight: bold;
  font-size: 27px;
}

.search-bar {
  display: block;
  position: relative;
  width: auto;
  height: 35px;
  margin-right: 400px;
  padding: 11px 25px 0 0;
  overflow: hidden;
}

.search-bar-input {
  position: absolute;
  display: block;
  float: left;
  height: 35px;
  width: 700px;
  padding: 0 6px 10px 6px;
  color: black;
  padding: 0 6px;
}

.search-bar-input-bar {
  background: white;
  position: relative;
  padding-left: 5px;
  display: block;
  border: 1px solid white;
  height: 95%;
  width: 95%;
  border-radius: 5px;
}

.search-bar-input > input:focus {
  border: 1px solid #FEBD69;
}

.search-bar .search-bar-button {
  display: block;
  position: absolute;
  width: 45px;
  height: 35px;
  right: 0px;
  top: 0px;
  background: #FEBD69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-bar-button > .search-bar-img {
  padding: 6px 0 0 9px;
  width: 25px;
}
///////////////////////////////////
.navbar-btn {
  // position: absolute;
  float: right;
  right: 10px;
  top: 20px;
}

.navbar-btn > li:hover {
  border: 1px solid #ccc;
}

.navbar-btn > li {
  float: left;
  height: 28px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.navbar-btn > li > p {
  float: left;
  clear: both;
}

.navbar-btn > li > .line1 {
  font-size: 12px;
  color: #ccc;
}

.navbar-btn > li > .line2 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}

.hidden {
  display: none;
}

.search-bar-img {
  width: 20px
}
