.poke-content-reviews {
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid #ccc;
  float: left;
}

.poke-content-reviews h3 {
  color: #CC6600;
  font-weight: bold;
  margin-bottom: 12px;
}

.review-summary {
  float: left;
  width: 250px;
  font-size: 14px;
}

.review-create {
  width: 300px;
  float: left;
  font-size: 14px;
}

.review-create > button {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #BABABA;
  padding: 5px 10px;
  text-align: center;
  background: #ECEEF1;
}

.review-create > button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.modal-screen {
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: default;
}

.modal-review-form {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  height: 300px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: default;
  background: #eee;
}

.modal-review-form p {
  display: block;
  margin-top: 10px;
}

.modal-review-form input {
  position: block;
  background: white;
  width: 280px;
  height: 25px;
  padding: 0px 3px;
  border: 1px solid #838B8B;
  border-radius: 3px;
  // margin: 10px;
  margin-left: 0px;
  outline: none;
  font-size: 12px;
}

.modal-review-form input:focus {
  border: 1px solid #FEBD69;
  box-shadow: 0 0 1px 0 #FEBD69;
}

.modal-review-form textarea {
  position: block;
  float: left;
  width: 286px;
  height: 80px;
  border-radius: 3px;
  margin: 10px;
  margin-left: 0px;
  outline: 0;
  border: 1px solid #838B8B;
  font-size: 12px;
}

.modal-review-form textarea:focus {
  border: 1px solid #FEBD69;
  box-shadow: 0 0 1px 0 #FEBD69;
}

.modal-review-form button {
  float: left;
  background: #CC6600;
  padding: 5px 18px;
  border-radius: 3px;
  font-weight: 400;
  margin: 8px 4px 0 0;
  color: white;
}

.modal-review-form button:hover {
  opacity: 0.8;
}

.modal-review-form .cancel {
  margin: 10px;
  float: left;
  box-shadow: none;
  color: #838B8B;
  background: transparent;
  cursor: pointer;
}

.modal-review-form .cancel:hover {
  background: transparent;
  color: #3D3D3D;
}

.poke-content-review-list {
  margin: 20px 0;
  width: 100%;
  float: right;
  color: #111111;
  font-size: 14px;
}

.poke-content-review-list li {
  margin-bottom: 25px;
}

.poke-content-review-list p {
  display: block;
}

.poke-content-review-list .review-body {
  margin-top: 10px;
  width: 800px;
  word-wrap:break-word;
}

.poke-content-review-list .bold-title {
  color: black;
  font-weight: bold;
}
