<div class="advertisement5"></div>
<div class="results-page">
	<nav>
		<% if (results.total_count > 0) { %>
			Displaying page number <%= results.pageNum %> out
			of <%= results.total_count %> results for <p>"<%= Celadon.searchResults.query %>"</p>
		<% } else { %>
			Try again
		<% } %>
	</nav>
	<section class="results">
		<ul class="search-results-full"></ul>
		<span>
			<nav class="group">
				<% if (results.pageNum > 1) { %>
					<a class="prev-page" href="javascript:void(0)">
						<span class="prev-arrow"></span>
						Previous Page
					</a>
				<% } %>
				<% if (results.pageNum < results.total_count) { %>
					<a class="next-page" href="javascript:void(0)">
						<span class="next-arrow"></span>
						Next Page
					</a>
				<% } %>
			</nav>
		</span>
	</section>
</div>
<div class="advertisment6"></div>
