<h1>Search Results</h1>

<section class="results">
	<nav>
		Displaying page number <%= results.pageNum %> out
		of <%= results.total_count %> results
	</nav>

	<% results.each(function (result) { %>
		<article>
			<img class="search-img" src='<%= result.escape("image_url") %>'>
		</article>
	<% }) %>
	<a class="prev-page" href="javascript:void(0)">Prev</a>
	<a class="next-page" href="javascript:void(0)">Next</a>
</section>
