<div class="advertisement5"></div>
<div class="results-page">
	<nav>
		<% if (results.total_count > 0) { %>
			Displaying page <%= results.pageNum %> out of <%= Math.ceil(results.total_count / 15) %> page(s) for <p>"<%= Celadon.searchResults.query %>"</p>
		<% } else { %>
			No results, please search again
		<% } %>
	</nav>
	<section class="results">
		<ul class="search-results-full"></ul>
		<span>
			<nav class="group">
				<% if (results.pageNum > 1) { %>
					<a class="prev-page" href="javascript:void(0)">
						<span class="prev-arrow"></span>
						Previous Page
					</a>
				<% } %>
				<% if (results.pageNum < Math.ceil(results.total_count / 15)) { %>
					<a class="next-page" href="javascript:void(0)">
						<span class="next-arrow"></span>
						Next Page
					</a>
				<% } %>
			</nav>
		</span>
	</section>
</div>
<div class="advertisment6"></div>
