<h2>Sign in</h2>

<form>
  <label><p>Email</p>
    <input type="text" name="user[email]">
  </label><br>

  <label>
    <p>Password</p>
    <input type="password" name="user[password]">
  </label><br>

  <button class="sign-in-btn">Sign in</button>
</form>
<a class="facebook-btn" ref="/auth/facebook">Log in with Facebook</a>
<div>
  <p class="small-header">New to Celadon?</p><div class="divider"></div>
  <a class="sign-in-btn create-btn" href="#/users/new">Create an account</a>
</div>
