<h2>Sign in</h2>

<form>

  <label>Email<br>
    <input type="text" name="user[email]">
  </label><br>

  <label>
    Password<br>
    <input type="password" name="user[password]">
  </label><br>

  <button>Sign in</button>
</form>

<div>
  <p>New to Celadon?</p><br>
  <a href="#/users/new">Create an account</a>
</div>
