<div class="search-bar">
  <div class="search-bar-input">
    <input
      class="search-bar-input-bar"
      id="search-bar"
      type="text"
      name="user-input">
    <div class="search-bar-button">
      <img
        class="search-bar-img"
        src="<%= Celadon.magnifyingGlass %>">
    </div>
  </div>
</div>
