<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container container-fluid">
    <div class="navbar-logo">
      <a class="navbar-logo-img" href="#">Celadon</a>
    </div>

    <div class="search-bar">
      <div class="search-bar-input" id="search-bar">
        <input type="text" name="user-input">
      </div>
      <div class="search-bar-button">
        <img
          class="search-bar-img"
          src="<%= asset_path('assets/css/Magnifying_glass_icon.png') %>">
      </div>
    </div>
    <ul class="navbar-btn">
      <li>
        <p class="line1">Hello.Sign in</p>
        <p class="line2"><a href="#/user/1">Your Account</a></p>
      </li>
      <li>
        <p class="line1">Wish</p>
        <p class="line2">List</p>
        <div class="dropdown hidden">
          <ul>
            <li class="dropdown-btn">Sign in</li>
            <li>New customer? Start here.</li>
            <li><a href="#/user/1">Your Account</a></li>
            <li>Your Orders</li>
            <li>Your Wish List</li>
            <li>Your Recommendations</li>
          </ul>
        </div>
      </li>
      <li>
        <p class="line2">Cart</p>
      </li>
    </ul>
  </div>
</nav>
